<div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-ms-9">
          <h1>Movies</h1>
        </div>
        <div class="col-md-3 col-ms-3 btn-new-movie">
          {{#link-to 'movies.search'}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Movie{{/link-to}}
        </div>
      </div>
     </div>
  </header>
  <div class="container container-main">
    <div class="row">
      <div class="col-md-12 col-ms-12 pg-module">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>TMDB ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each movie in model}}
              <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.themoviedbid }}</td>
                <td>
                  <button class="btn btn-primary" {{action 'viewMovie' movie}}>View</button>
                  <button class="btn btn-danger" {{action 'deleteMovie' movie}}>Delete</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>