<div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-ms-9">
          <a href="#/movies"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          <h1>View</h1>
        </div>
      </div>
     </div>
  </header>
  <div class="container container-main">
    <div class="row">
      <div class="col-md-12 col-ms-12 pg-module">
        {{ ctrl.movieInfo }}
      </div>
    </div>
  </div>
</div>