<div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-ms-9">
          <h1>Movies</h1>
        </div>
        <div class="col-md-3 col-ms-3 btn-new-movie">
          <a href="#/movies/search"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Movie</a>
        </div>
      </div>
     </div>
  </header>
  <div class="container container-main">
    <div class="row">
      <div class="col-md-12 col-ms-12 pg-module">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>TMDB ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movie in ctrl.movies.$object">
              <td>{{ movie.title }}</td>
              <td>{{ movie.themoviedbid }}</td>
              <td>
                <a class="btn btn-primary"  ng-click="ctrl.viewMovie(movie)">View</a>
                <a class="btn btn-danger"  ng-click="ctrl.deleteMovie(movie)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-pluralize count="ctrl.movies.$object.length"
                         when="{'0': 'No movies found',
                             'one': '1 movie found',
                             'other': '{} movies found'}" />
      </div>
    </div>
  </div>
</div>